footer {
    text-align: center;
    color: grey;
}

.header-top {
    display: flex;
    height: 40px;
    align-items: center;         /* vertically center header and circles */
    justify-content: space-between
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container div {
    border-style: solid;
    border: 2px solid;
    padding-top: 0px;
    padding-left: 10px;
}

.div1 {
    text-align: center;
    background-color: rgb(78, 151, 251);
    width: 75px;
    height: 20px;
    padding: 5px;
}

.div2 {
    text-align: center;
    width: 75px;
    height: 20px;
    padding: 5px;
}


.border a:hover {
    background-color: rgb(78, 151, 251);
    color: white;
} 

#img {
    clip-path: ellipse(45% 38%);
}

.no-border {
    border: none;
}


.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid black;
  margin-right: 3px;
}

.circle-blue {
    border-color: aqua;
}

.contact-form {
    margin: 0 auto;
    padding: 16px;
}

.form-row {
    display: flex;
    align-items: center;    
    margin-bottom: 12px;
}

.form-row > label {
    flex: 0 0 180px;          
    text-align: center;
    color: grey;     
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.form-actions button {
  cursor: pointer;
}

.style-grey {
    color: grey;
}
